@charset "utf-8";

html{scroll-behavior: smooth; font-size: 62.5%;}
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: #333;}
ol, ul{list-style: none;}
table{border-collapse: collapse; width: 100%;}
caption, legend{display: none;}
input, select, textarea, fieldset{border: 0;}
img{vertical-align: top;}
i, em, address{font-style: normal;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight: normal;}
button, input{background-color: transparent; border: 0;}


