@charset "utf-8";

@font-face {
  font-family: 'Kim jung chul Gothic';
  src: url('KimjungchulGothic-Light.woff2') format('woff2'),
    url('KimjungchulGothic-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kim jung chul Gothic';
  src: url('KimjungchulGothic-Bold.woff2') format('woff2'),
    url('KimjungchulGothic-Bold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kim jung chul Gothic';
  src: url('KimjungchulGothic-Regular.woff2') format('woff2'),
    url('KimjungchulGothic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}